<div class="container mt-5">
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)" size = "large"
    color = "#fff"
    type = "timer"
  >
  </ngx-spinner>
  <div class="row justify-content-center">
    <app-add-new-post-form class="col-6" (onAddNewPost)="onSubmit($event)" (onChangePost)="onChange($event)"></app-add-new-post-form>
  </div>
  <!-- /.row -->
  <div class="row">
    <app-one-post class="col col-12 mb-3" *ngFor="let post of posts" [post]="post" (editPost)="onEdit($event)" (deletePost)="onDelete($event)"></app-one-post>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
